<div data-detalles="parent">
	<div data-detalles="imagenes" v-if="item.imgURLs&&item.imgURLs.length>1">
		<image-gallery :item="item" :options="$router.options"></image-gallery>
	</div>
	<img data-detalles="imagen" v-else-if="item.imgURL&&!options.data.failed.includes(item.imgURL)" :src="item.imgURL" v-on:error="options.methods.events.imgFailed"></img>
	
	<div data-detalles="info-container" class="mdc-layout-grid">
		<h2 data-detalles="titulo">{{item.nombre}} <span v-if="$route.name=='todo'&&item.provincia">({{item.provincia.nombre}})</span></h2>
		<p v-if="item.carStr" data-detalles="carStr">
			{{item.carStr}}<br>
			{{item.otros}}
		</p>
		<div data-detalles="botones" class="mdc-layout-grid__inner">
			<button class="mdc-button mdc-button--raised mdc-layout-grid__cell" data-mdc-auto-init="MDCRipple"
			v-if="item.reserva&&item.tipo!='Productos'" v-on:click="options.methods.events.reservar(item)">
				<span v-if="item.tipo=='Qué ver'">Más información</span>
				<span v-if="item.tipo!='Qué ver'&&item.tipo!='Productos'">
					<i class="material-icons">check_circle_outline</i>
					Reservar
				</span>
			</button>
			<button data-detalles="abrir-mapa" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple"
			v-if="$route.name=='vista'&&item.navigationUrl" v-on:click="options.methods.events.goMaps(item.navigationUrl)">
				<i class="material-icons">navigation</i>
				Cómo llegar
			</button>
		</div>
		<div data-detalles="detalles-container">
			<p v-if="item.direccion" data-detalles="dirección">
				<i class="material-icons">location_on</i>
				<a v-if="item.localidad" :href="'#/todo?loc='+item.localidad">{{item.direccion}}</a>
				<span v-else>{{item.direccion}}</span>
			</p>
			<div data-detalles="secundarios">
				<p v-if="item.telefono&&item.telefono!=0" data-detalles="teléfono">
					<i class="material-icons">call</i>
					<a :href="'tel:'+item.telefono">{{item.telefono}}</a>
				</p>
				<p v-if="item.web&&item.prettyWeb" data-detalles="web">
					<i class="material-icons">link</i>
					<a :href="item.web">{{item.prettyWeb}}</a>
				</p>
			</div>
			<div data-detalles="terceros">
				<p v-if="item.email" data-detalles="email">
					<i class="material-icons">mail</i>
					<a :href="'mailto:'+item.email">{{item.email}}</a>
				</p>
			</div>
		</div>
		<video-element v-if="item.video&&options.data.online" :item="item.video"></video-element>
		<h2 data-detalles="info-titulo">Información:</h2>
		<button data-detalles="info-autoread" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple"
		v-if="item.textDesc" v-on:click="options.methods.events.ttsEvent(item.textDesc)">
			<i class="material-icons">hearing</i>Escuchar audio
		</button>
		<div data-detalles="info">
			<p class="mdc-typography--body1" v-html="item.descripcion"></p>
		</div>
		<div data-detalles="eventos-container">
            <div v-if="item.eventos&&item.eventos.length>0" v-for="evento in item.eventos">
                <span data-eventos="titulo">{{evento.titulo}}</span>
                <span data-eventos="fechas">Del {{evento.inicio}} al {{evento.fin}}</span>
                <p data-eventos="descripción"
                v-if="evento.descripcion&&evento.descripcion!=''" v-html="evento.descripcion"></p>
            </div>
        </div>
		<div data-detalles="vídeo" v-if="item.video||item.videoURL">
			<iframe v-if="item.videoURL" :src="item.videoURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>
