<div data-gallery="overall-container">
	<div data-gallery="container">
		<div data-gallery="image-container" v-for="image in item.imgURLs" :data-gallery-image="item.imgURLs.indexOf(image)" data-gallery-effect="fade">
			<img :src="image" data-gallery="image">
		</div>
	</div>
	<div data-gallery="ctl-container">
		<a data-gallery="ctl-buttons" class="material-icons" v-on:click="options.methods.events.moveGallery(-1)">arrow_back</a>
		<span data-gallery="dots-container">
			<span data-gallery="dot" v-for="i in item.imgURLs" :data-gallery-dot="item.imgURLs.indexOf(i)" v-on:click="options.methods.events.updateGalleryImage(item.imgURLs.indexOf(i))"></span>
		</span>
		<a data-gallery="ctl-buttons" class="material-icons" v-on:click="options.methods.events.moveGallery(1)">arrow_forward</a>
	</div>
</div>
