<span data-lista="item">
	<li class="mdc-list-item mdc-list-item--extra-margin" v-on:click="options.methods.events.listaTodoClick(item)">
		<img v-bind:src="item.imgURL" class="mdc-list-item__img" v-on:error="options.methods.events.imgFailed" v-if="item.imgURL&&!options.data.failed.includes(item.imgURL)">
		<span class="mdc-list-item__text">
			{{item.nombre}}
			<span data-item="carStr" class="mdc-list-item__secondary-text" v-if=item.carStr>
				<valoracion :item="item"></valoracion><span> |</span>
				{{item.carStr}}
			</span>
			<span class="mdc-list-item__secondary-text" v-if="item.provinciaComp">{{item.provinciaComp}}</span>
			<span class="mdc-list-item__secondary-text" v-if="!item.provinciaComp">{{item.localidad}}</span>
			<span class="mdc-list-item__secondary-text" v-if="item.distanceStr" data-item="distance">{{item.distanceStr}} desde {{$route.query.loc||"tu ubicación"}}</span>
			<span v-for="it in Object.keys(item)" class="mdc-list-item__secondary-text" v-bind:data-item-auto="it">
				{{item[it]}}
			</span>
			<span class="mdc-list-item__secondary-text">
				<button class="mdc-button" data-mdc-auto-init="MDCRipple">Más INFO></button> <!--El símbolo '>' no es que se haya colado-->
			</span>
		</span>
		<span class="mdc-list-item__meta">
			<span v-if="item.accesible">
				<i class="material-icons" v-if="item.accesible">accessible</i>
			</span>
		</span>
	</li>
	<li class="mdc-list-divider"></li>
</span>
