<span v-if="options.data.online" data-map="container" data-map-visible="none" :data-map-center="item">
	<div data-map-inner='map'></div>
	<div data-map-inner="waiting-map" class="spin-container">
		<span>Esperando mapa...</span>
		<div class="spin"></div>
	</div>
</span>
