<div class="mdc-dialog" data-arribes="promo-dialog" role="alertdialog" :aria-labelled-by="establecimiento.nombre" data-mdc-auto-init="MDCDialog">
	<div class="mdc-dialog__surface">
		<header class="mdc-dialog__header">
			<h2 class="mdc-dialog__header__title">Te recomendamos:</h2>
		</header>
		<section class="mdc-dialog__body mdc-dialog__body--scrollable">
			<img v-if="establecimiento.imgURL" :src="establecimiento.imgURL">
			<h2 data-promo="titulo">{{establecimiento.nombre}}</h2>
			<span v-if="establecimiento.categoria&&establecimiento.categoria.número!=0">
				<valoracion :item="establecimiento" data-promo="valoracion"></valoracion>
			</span>
			<span data-promo="detalles">
                <p data-promo="ubicación">{{establecimiento.provinciaComp}}</p>
                <p data-promo="carStr">{{establecimiento.carStr}}</p>
                <p data-promo="otros">{{establecimiento.otros}}</p>
                <p data-promo="contacto">
                    <p v-if="establecimiento.telefono&&establecimiento.telefono!=0" data-detalles="teléfono">
                        <i class="material-icons">call</i>
                        <a :href="'tel:'+establecimiento.telefono">{{establecimiento.telefono}}</a>
                    </p>
                    <p v-if="establecimiento.web&&establecimiento.prettyWeb" data-detalles="web">
                        <i class="material-icons">link</i>
                        <a :href="establecimiento.web">{{establecimiento.prettyWeb}}</a>
                    </p>
                </p>
            </span>
		</section>
		<footer class="mdc-dialog__footer">
			<button type="button" class="mdc-button mdc-button--raised mdc-dialog__footer__button mdc-dialog__footer__button--accept">Más información ></button>
			<button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cerrar</button>
		</footer>
	</div>
	<div class="mdc-dialog__backdrop"></div>
</div>
