<span v-if="item.categoria&&item.categoria.número!=0">
	<i v-if="item.categoria.material" v-for="icono in item.categoria.icons" class="material-icons" :data-categoria="item.categoria.str">{{icono}}</i>
	<i v-if="!item.categoria.material" v-for="icon in item.categoria.icons" class="nomaterial-icons" :data-categoria="item.categoria.str">
		<img :src="'fonts/Custom icons/'+icon+'.svg'">
	</i>
</span>
