/*:root{
	--mdc-background-color: #F5F5F6 !important;
	--mdc-theme-primary: #689f38 !important;
	--mdc-theme-primary-light: #99d066 !important;
	--mdc-theme-primary-dark: #387002 !important;
	
/*	--mdc-theme-secondary: #d81b60 !important;
	--mdc-theme-secondary-light: #ff5c8d !important;
	--mdc-theme-secondary-dark: #a00037 !important;

	--mdc-theme-secondary: #aa00ff !important;
	--mdc-theme-secondary-light: #e254ff !important;
	--mdc-theme-secondary-dark: #7200ca !important;
}*/
$mdc-theme-primary: #689f38;
$mdc-theme-secondary: #aa00ff;

#loading-splash{
	display: none;
}
.spin-container{
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}
.spin {
	margin: 0 auto;
	margin-top: 1vh;
	border: 5px solid #f3f3f3;
	border-top: 5px solid var(--mdc-theme-primary);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: girar 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 0ms infinite;
}
@keyframes girar {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
%nomargin{
	margin: 0 !important;
	padding: 0 !important;
}
html{
	@extend %nomargin;
	user-select: none !important;
}
body{
	@extend %nomargin;
}

#top-appBar{
	position: sticky;
	top:0 !important;
	overflow: overlay;
	z-index:5; /*Ha!*/
}
#app-drawer{
	header{
		img{
			height: 100%;
			margin: 0 auto;
		}
	}
}
#pie{
	position: relative;
	margin: auto;
	margin-top: 2vh;
	margin-bottom:0;
	bottom:0;
	img{
		width: 100%;
	}
	span{
		display: block;
		width: fit-content;
		width: -webkit-fit-content;
		text-align: center;
		margin: auto;
		margin-bottom: 1vh;
		font-size: 0.8em;
		a{
			color: var(--mdc-text-on-surface);
			text-decoration: underline;
		}
	}
}
a.material-icons{
	text-decoration:none;
}
.hidden{
	display:none;
}
