@import "../lib/shell"; //Import shell style
@import "../lib/material-icons"; //Import icons font
@import "material-components-web/material-components-web"; //Import all of the components
//FIXME Los componentes deberían seleccionarse de uno en uno
$margin: 2vw;
$vertical-margin: 1vh;
$altura-filtros: 10vh; //Let other parts know the filter's height
$material-icons-margin: 0.2ch;
$dialog-max-height: 60vh;

//Colores horrorosos
$otros-color: #f57f17;
$color-vino: #5f0202;

//Colores no tan horrorosos
$color-hiper: #2962ff;

@mixin lateral-margin($m){
	margin-left: $m;
	margin-right: $m;
}
@mixin crossfit-content($where:"width",$imp: false){
	@if $imp{
		#{$where}: fit-content !important;
		#{$where}: -webkit-fit-content !important;
		#{$where}: -moz-fit-content !important;
	}@else{
		#{$where}: fit-content;
		#{$where}: -webkit-fit-content;
		#{$where}: -moz-fit-content;
	}
}
@mixin responsive-col($num:2){
	@extend .mdc-layout-grid__cell--span-#{$num};
	@extend .mdc-layout-grid__cell--span-#{$num}-phone;
	@extend .mdc-layout-grid__cell--span-#{$num * 2}-tablet;
	@extend .mdc-layout-grid__cell--span-#{$num * 3}-desktop;
}

%material-icons-align{
	vertical-align: middle !important;
}
%material-icons-fix{
	@extend %material-icons-align;
	width:1ch !important;
}
%appearance-fix{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
%material-ripple{
	@include mdc-ripple-surface;
	@include mdc-ripple-radius-bounded;
	@include mdc-states;
}
@mixin position-fab-inner($p,$position){
	bottom: $p;
	#{$position}: $p;
	float: $position;
	z-index: 2;
}
@mixin position-fab($where:right){
	position: sticky;
	@include position-fab-inner(1rem,$where);
	@media(min-width: 1024px){
		@include position-fab-inner(1.5rem,$where);
	}
}
%full-cat-name__inner{
	margin: 0;
	*{
		margin-left:$margin*2;
	}
}
%full-cat-name__icon{
	transform: rotate(-90deg);
}
%video-item{
	height: 25vh;
	width: 100%;
	display: block;
	margin: 0 auto;
	
	margin-bottom: $vertical-margin;
	&:first-child{
		margin-top:$vertical-margin;
	}
}
%link-fix{
    color: $color-hiper;
    &:visited{
        color: $color-hiper;
    }
}
%valoracion{
	[data-categoria="Estrellas"]{
		color: #fdd835;
	}
	[data-categoria="Estrellas verdes"]{
		color: #2e7d32;
	}
}

@mixin orderedList($name){
	[data-#{$name}-cat="container"]{
		i.material-icons{
			@extend %material-icons-align;
		}
		[data-#{$name}-cat="list"]:not(.open){
			display: none;
		}
		$transition_time: 0.5s;
		%title-container{
			[data-#{$name}-cat="cat-title"]{
				@extend %full-cat-name__inner;
			}
			i.material-icons{
				@extend %full-cat-name__icon;
				transition: transform $transition_time;
			}
		}
		[data-#{$name}-cat="title-container"]{
			&:not(.open){
				@extend %title-container;
			}
			&.open{
				@extend %title-container;
				i.material-icons{
					transform: rotate(0deg);
				}
			}
		}
	}
}

img.failed{
	display:none;
}

li.mdc-list-item>img.mdc-list-item__img{
	height: auto;
	width: 25vw;
	margin-right: 2vw;
}
li.mdc-list-item.mdc-list-item--extra-margin{
	margin-top: $vertical-margin !important;
	margin-bottom: $vertical-margin !important;
}

[data-map="container"]{
	$height: 40vh;
	$width: 100%;
	height: $height;
	width: $width;
	
	&[data-map-visible="none"]{
		display: none;
	}
	&[data-map-visible="true"]{
		display: block;
	}
	[data-map-inner='waiting-map']{
		margin-top: 2vh;
		display: none;
	}
	[data-map-inner='map']{
		display: block;
		height: $height;
		width: $width,
	}
	&[data-map-visible='waiting']{
		[data-map-inner='map']{
			display: none;
		}
		[data-map-inner='waiting-map']{
			display: block;
		}
	}
}

[data-arribes='todo']{
	//Estilo de los filtros
	margin-top: $altura-filtros;
	//Filtros
	[data-todo='filtros']{
		background-color: #90cc00 !important;
		padding: 0;
		position:fixed;
		z-index: 2; //Less than top-appBar
		top: 64px;
		@media (max-width:599px){
			top: 56px;
		}
		height: $altura-filtros;
		@include crossfit-content("min-height");
		width: 100%;
		margin:0;
		select:focus~label{
			color: var(--mdc-theme-on-primary) !important;
		}
		[data-filtros='localidades']{
			width: 80vw;
			@include lateral-margin(10vw);
			select>option{
				color: #000;
			}
			select{
				@extend %appearance-fix;
			}
		}
	}
	//Estilo del campo de información
	[data-info='text']{
		@include lateral-margin($margin);
	}
}
[data-arribes="todo"],[data-arribes="nearby"]{//Estilo de los items de las listas
	$listas:("todo", "nearby");
	@each $lista in $listas{
		@include orderedList($lista);
	}
	[data-todo-filtered="title-container"]{
		[data-todo-filtered="title"]{
			@extend %full-cat-name__inner;
		}
		i.material-icons{
			@extend %material-icons-align;
		}
	}
	ul[data-arribes-todo='items'],ul[data-arribes-nearby="items"]{
		&:empty{
			margin-bottom: $vertical-margin;
		}
		[data-lista="item"]:last-child{
			li.mdc-list-divider{
				display: none !important;
			}
		}
		.mdc-list-item{
			@extend %material-ripple;
			@include crossfit-content("height", true);
			span.mdc-list-item__meta{
				text-align: justify !important;
				max-width: 25%;
				width: 1ch;
				margin-right: 2vw;
				i.material-icons{
					min-width: 1vw;
					width: 5vw;
				}
				&>a{
					height: 100% !important;
					color: var(--mdc-theme-text-icon-on-background)!important;
				}
			}
		}
		span.mdc-list-item__text{
			color: $color-vino !important;
			
			[data-item-auto]{
				display: none;
			}
			$items-permitidos: (
				'otros',
				'promocion'
			);
			@each $item in $items-permitidos{
				span[data-item-auto=#{$item}]{
					display: block;
				}
			}
			i.material-icons{
				@extend %material-icons-fix;
				font-size: medium !important;
			}
			[data-item='carStr']{
				font-size: small !important;
			}
			[data-item-auto="otros"]{
				font-size: small;
				color: $otros-color;
			}
			span.mdc-list-item__secondary-text{
				@extend %valoracion;
			}
			button.mdc-button{
				text-transform: none !important; //Horroroso y antiestético
			}
		}
	}
	overflow:hidden;
	[data-nearby="slider-container"]{
		margin-top: $vertical-margin;
		@include lateral-margin($margin*2);
	}
}
[data-arribes='inicio']{
	img[data-inicio='img-cabecera']{
		width: 100%;
	}
	[data-inicio='botones']{
		@include lateral-margin($margin);
		
		[data-inicio='link']{
			display: block;
			width: 100%;
			margin: 0 auto;
			white-space: nowrap;
			[data-links='title']{
				text-align: center;
			}
			[data-links="icon"]{
				vertical-align: middle;
				margin-right: 2vw;
			}
		}
		[data-botones="fullwidth"]{
			span:first-child>button{
				background-color: #039be5 !important;
			}
			span:last-child>button{
				background-color: #d32f2f !important;
			}
			[data-inicio="link"]{
				width: 80vw;
				[data-links='icon']{
					position: absolute;
					left: 5vw;
					bottom: 15%;
				}
			}
		}
		[data-botones="column"]{
			&>span>span{
				@include responsive-col();
			}
			@media(max-width:408px){
				.material-icons{margin-right:0}
			}
			@media(max-width:360px){
                .material-icons{display:none}
            }
		}
	}
}
[data-detalles="parent"]{
	$img-size: 40vh;
	$elevation: 24;
	margin:0 !important;
	[data-detalles="imagenes"]{
		img{
			height: $img-size;
		}
	}
	[data-detalles="imagen"]{
		height: auto;
		width: 100%;
	}
	[data-detalles="titulo"]{
		@include mdc-typography("headline4");
		color: $color-vino;
		margin-top:0;
	}
	[data-detalles="info-titulo"]{
		@include mdc-typography("headline5");
		margin-top:0;
	}
	[data-detalles="info-container"]{
		margin-top:$vertical-margin !important;
		@include lateral-margin($margin);
		[data-detalles="botones"]{
			button{
				white-space:nowrap;
			}
		}
	}
	
	[data-detalles="info-autoread"]{
		margin-top: $vertical-margin;
		background-color: #2962ff !important;
		@include crossfit-content("min-width");
		display: block;
		
		i.material-icons{
			margin: 0;
			margin-right: $material-icons-margin;
			@extend %material-icons-align;
		}
	}
	
	[data-detalles="detalles-container"]{
		@include lateral-margin($margin);
		i.material-icons{
			@extend %material-icons-align;
		}
		$principales:("dirección");
		$otros:("teléfono","web","email");
		p>a{
			color: #000;
		}
		%custom-color{
			color: rgba(0,0,0,0.7);
		}
		%alt-color{
			color: $color-hiper;
		}
		@each $item in $principales{
			[data-detalles=#{$item}]{
				@extend .mdc-typography--subtitle1;
				@extend %custom-color;
				a{
					@extend %alt-color;
				}
				margin-bottom: $vertical-margin;
			}
		}
		@each $item in $otros{
			[data-detalles=#{$item}]{
				display: block;
				@extend .mdc-typography--body2;
				@extend %custom-color;
				margin:0;
			}
		}
		[data-detalles="secundarios"],[data-detalles="terceros"]{
			&:empty{display:none}
		}
		&>:last-child{
			margin-bottom: $vertical-margin;
		}
	}
}
[data-arribes="vista"]{
	[data-detalles="titulo"]{
		text-align: center !important;
	}
	[data-detalles="carStr"]{
		text-align:center;
		@extend .mdc-typography--subtitle2;
		color: $otros-color !important;
		&::first-line{
			@extend .mdc-typography--subtitle1;
			color: var(--mdc-theme-text-secondary-on-background);
		}
	}
	[data-detalles="info"]{
		@include lateral-margin(0);
	}
	[data-detalles="botones"]{
		&:blank{display:none} //Will start working on CSS4. Let's wait...
		&:empty{display:none} //But for the moment...
		padding: $margin $vertical-margin;
		button{
			$number:2;
			@include responsive-col($number);
			
			text-transform: none; //MAL
			i.material-icons{
				@extend %material-icons-fix;
				margin-right: $material-icons-margin;
			}
			&:not(:last-child){
				margin-bottom: $vertical-margin;
			}
		}
	}
}
[data-gallery="overall-container"]{
	$animation-duration: 1.5s;
	$transition-duration: 0.6s;
	width: 100%;
	
	div,img{
		margin:0;
		padding:0;
	}
	img{
		display:block;
		@include lateral-margin(auto);
	}
	[data-gallery="image-container"]{
		overflow: hidden;
		background-color: rgba(0,0,0,0.9);
		width: 100%;
		&:not(.active){display: none}
	}
	[data-gallery="ctl-container"]{
		@include crossfit-content("width");
		margin: 0 auto;
		[data-gallery="ctl-buttons"]{
			$margin: 8vw;
			@include lateral-margin($margin);
			vertical-align: bottom;
		}
	}
	[data-gallery="dots-container"]{
		@include crossfit-content("width");
		min-width: 6vw;
		margin: auto;
		span{
			cursor: pointer;
			height: 4vw;
			width: 4vw;
			margin: 0;
			margin-right: $margin * 2;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color $transition-duration ease;
		}
		span{
			&:last-child{
				margin-right:0;
			}
			&.active{
				background-color: #717171;
			}
		}
	}
	[data-gallery-effect="fade"]{
		animation-name: fade;
		animation-duration: $animation-duration;
	}
	@keyframes fade{
		from {opacity: .5}
		to {opacity: 1}
	}
}
[data-arribes="responsabilidad"],[data-arribes="legal"]{
	&~#pie{
		display:none;
	}
	@include lateral-margin($margin);
	margin-bottom: $vertical-margin;
	
	@include mdc-typography-base();
	text-align: justify;
	
	$base:3;
	@for $i from 1 through 3{
		h#{$i}{
			@include mdc-typography("headline#{$base+$i}");
		}
	}
	h1,h2{
		text-align: center;
	}
	input{
		@extend %appearance-fix;
	}
	[data-responsabilidad="botones"]{
		margin-top: $vertical-margin*2;
		button{
			@include responsive-col();
			.material-icons{
				margin-right: $material-icons-margin;
			}
			&[data-responsabilidad="aceptar"]{
				background-color: $mdc-theme-primary;
			}
			&[data-responsabilidad="rechazar"]{
				background-color: #d32f2f;
			}
		}
	}
	%normal{
		@include mdc-typography("body1");
	}
	p,a,a:visited{
		@extend %normal;
		color: var(--mdc-theme-on-surface);
	}
	a,a:visited{
		text-decoration: underline !important;
	}
}
[data-arribes="videoguías"]{
	@include mdc-typography-base();
	h2{
		@include mdc-typography("headline5");
		text-align: center;
	}
	@include lateral-margin($margin);
}
[data-arribes="video-element"]{
	iframe{@extend %video-item}
}

[data-arribes="promo-dialog"]{
	img{
		width:100%;
	}
	.mdc-dialog__body--scrollable{
		max-height: $dialog-max-height;
	}
	[data-promo="titulo"]{
        color: $color-vino;
        text-align: center;
		margin-bottom: $vertical-margin/2;
    }
    [data-promo="detalles"]{
        i.material-icons{
            @extend %material-icons-fix;
        }
        p{
            text-align:center;
        }
        [data-promo="otros"]{
            color: $otros-color;
        }
        a{@extend %link-fix;}
    }
    [data-promo="valoracion"]{
		@extend %valoracion;
		display:block;
		margin: 0 auto;
		@include crossfit-content;
		i.material-icons{
			@extend %material-icons-fix;
		}
	}
	[data-promo="contacto"]{
		p{
			white-space: nowrap;
		}
	}
}
