<div data-arribes='inicio'>
	<img src="img/cabecera.jpg" data-inicio='img-cabecera'>
	<div data-inicio='botones'>
		<span data-botones="fullwidth">
			<icon-button v-for='sitio in $router.options.data.sitios' v-if='sitio.inicio&&sitio.inicio_head' :item="sitio" :key="sitio.order_link"></icon-button>
		</span>
		<span data-botones="column" class="mdc-layout-grid">
			<span class="mdc-layout-grid__inner">
				<span v-for="sitio in $router.options.data.sitios" v-if="sitio.inicio&&!sitio.inicio_head" :key="sitio.order_link"
				class="mdc-layout-grid__cell">
					<icon-button :item="sitio"></icon-button>
				</span>
			</span>
		</span>
	</div>
</div>
