<div data-arribes="nearby">
	<div id="mapa-cercano">
		<google-map :options="$router.options"></google-map>
	</div>
	<div data-nearby="slider-container">
		<label for="supercosa">Distancia: <span>{{data.nearbyDist/1000}}KM</span></label>
		<div data-nearby="slider" class="mdc-slider mdc-slider--discrete" tabindex="0" role="slider" id="supercosa"
			data-mdc-auto-init="MDCSlider" data-events="MDCSlider:change" data-events-MDCSlider:change="exports.events.nearbySliderChange(target)"
			aria-valuemin="0" aria-valuemax="100" :aria-valuenow="data.nearbyDist/1000" aria-label="Distancia">
			<div class="mdc-slider__track-container">
				<div class="mdc-slider__track"></div>
			</div>
			<div class="mdc-slider__thumb-container">
				<div class="mdc-slider__pin">
					<span class="mdc-slider__pin-value-marker"></span>
				</div>
				<svg class="mdc-slider__thumb" width="21" height="21">
					<circle cx="10.5" cy="10.5" r="7.875"></circle>
				</svg>
				<div class="mdc-slider__focus-ring"></div>
			</div>
		</div>
	</div>
	<div class="mdc-list-group" data-nearby-cat="container"> <!--Lista ordenada por categorías-->
		<span v-for="sitio in data.sitios" v-if="sitio.type=='link'&&sitio.order_nearby&&sitio.route.query" :key="sitio.order_nearby" data-nearby-cat="sitio-container">
			<span class="open" data-nearby-cat="title-container" v-on:click="$router.options.methods.events.mostrarCategoria(sitio.route.query.cat)">
				<h3 data-nearby-cat="cat-title" class="mdc-list-group__subheader mdc-theme--secondary-bg mdc-theme--on-secondary">
					<i class="material-icons">expand_more</i>
					{{sitio.title}}
				</h3>
			</span>
			<ul class="mdc-list mdc-list--avatar-list open animated bounceInLeft" data-arribes-nearby='items' data-nearby-cat="list" :data-nearby-cat-name="sitio.route.query.cat">
				<list-item v-for="item in $router.options.data.nearby"
				v-if="sitio.route.query.cat==item.tipo" :item="item" :options="$router.options">
				</list-item>
			</ul>
		</span>
	</div>
</div>
