<div data-arribes="responsabilidad" class="mdc-layout-grid">
	<div data-responsabilidad="controles" v-if="!data.policyOk">
		<div class="mdc-form-field">
			<div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox" data-events="change" data-events-change="exports.events.checkboxPolChange(target)">
				<input type="checkbox"
				class="mdc-checkbox__native-control"
				id="checkbox-condiciones"/>
				<div class="mdc-checkbox__background">
					<svg class="mdc-checkbox__checkmark"
					viewBox="0 0 24 24">
					<path class="mdc-checkbox__checkmark-path"
						fill="none"
						stroke="white"
						d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
					</svg>
					<div class="mdc-checkbox__mixedmark"></div>
				</div>
			</div>
			<label for="checkbox-condiciones">He leído y acepto la <a href="#" v-on:click.prevent="()=>{}">Política de privacidad y condiciones de servicio</a></label>
		</div>
		<div data-responsabilidad="botones" class="mdc-layout-grid__inner">
			<button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple"
			v-on:click.capture="$router.options.methods.events.responsabilidad(false)" data-responsabilidad="rechazar">
				<span class="material-icons">cancel</span>No acepto
			</button>
			<button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" disabled
			v-on:click.capture="$router.options.methods.events.responsabilidad(true)" data-responsabilidad="aceptar">
				<span class="material-icons">check</span>Acepto
			</button>
		</div>
	</div>
	<div data-responsabilidad="política" v-html="data.responsabilidad"></div>
</div>
