<div data-arribes="todo">
	<!--Filtros-->
	<div v-if="$route.query.loc||$route.query.cat" data-todo="filtros">
		<div class="mdc-select"
		data-mdc-auto-init="MDCSelect" data-filtros='localidades'>
			<select class="mdc-select__native-control" v-on:change="$router.options.methods.events.filterEvent('loc',$event.target.value)">
				<option value="" :selected="!$route.loc">Todo</option>
				<option v-for="localidad in $router.options.data.localidades" :key="localidad.nombre" :value="localidad.nombre" :selected="$route.query.loc==localidad.nombre">{{localidad.nombre}}</option>
			</select>
			<label class="mdc-floating-label mdc-floating-label--float-above">Selecciona localidad</label>
			<div class="mdc-line-ripple"></div>
		</div>
	</div>
	<!--Lista de establecimientos-->
	<div class="mdc-typography" data-todo="container" v-if="$route.query.loc||$route.query.cat">
		<div data-todo="info" v-if="$route.query.loc">
			<!--Mapa de la localización-->
			<detalles  :options="$router.options" :item="data.localidades[$router.options.methods.util.ArrayUtil.indexOfProp({prop: 'nombre',array:data.localidades, val: $route.query.loc})]" data-info="text"></detalles>
		</div>
		<div class="mdc-list-group" v-if="!$route.query.cat" data-todo-cat="container"> <!--Lista ordenada por categorías-->
			<span v-for="sitio in $router.options.data.sitios" v-if="sitio.type=='link'&&sitio.order_link&&sitio.route.query" :key="sitio.order_link" data-todo-cat="sitio-container">
				<span class="open" data-todo-cat="title-container" v-on:click="$router.options.methods.events.mostrarCategoria(sitio.route.query.cat)">
					<h3 data-todo-cat="cat-title" class="mdc-list-group__subheader mdc-theme--secondary-bg mdc-theme--on-secondary">
						<i class="material-icons">expand_more</i>
						{{sitio.title}}
					</h3>
				</span>
				
				<ul class="mdc-list mdc-list--avatar-list open animated bounceInLeft" data-arribes-todo='items' data-todo-cat="list" :data-todo-cat-name="sitio.route.query.cat">
					<list-item v-for="item in $router.options.data.nearby"
					v-if="sitio.route.query.cat==item.tipo" :item="item" :options="$router.options">
					</list-item>
				</ul>
			</span>
		</div>
		<div class="mdc-list-group" v-if="$route.query.cat">
			<span data-todo-filtered="title-container">
				<h3 data-todo-filtered="title" class="mdc-list-group__subheader mdc-theme--secondary-bg mdc-theme--on-secondary">
					<i class="material-icons">expand_more</i>
					{{$route.query.cat}}
				</h3>
			</span>
			<ul class="mdc-list mdc-list--avatar-list" data-arribes-todo="items"> <!--Ya está seleccionada la categoría-->
				<list-item v-for="item in data.nearby" v-if="(!$route.query.cat||item.tipo==$route.query.cat)"
				:item="item" :options="$router.options"></list-item>
			</ul>
		</div>
	</div>
	<!--Lista de localidades en el caso de que no se haya seleccionado ninguna-->
	<ul class="mdc-list" v-else>
		<li class="mdc-list-item" data-arribes-todo='localidades' v-for="localidad in $router.options.data.localidades" v-on:click="$router.options.methods.events.filtroLocalidad(localidad.nombre)" data-mdc-auto-init="MDCRipple">
			<span class="mdc-list-item__text">
				{{localidad.nombre}}
			</span>
		</li>
	</ul>
</div>
