<div data-arribes="vista">
	<div data-vista="establecimiento" v-if="$route.query.id" class="mdc-typography">
		<detalles v-for="establecimiento in $router.options.data.todo" v-if='establecimiento.id==$route.query.id' :key="establecimiento.id" :item="establecimiento" :options="$router.options"></detalles>
	</div>
	<div data-vista="localidad" v-if="$route.query.id_loc">
		<div v-for="localidad in $router.options.data.localidades" v-if="localidad.loc_id==$route.query.id_loc">
			{{localidad.nombre}}
		</div>
	</div>
</div>
